config/config.yaml
*.fa.gz
*.fna.gz
*.tar.gz
benchmark/analysis_outputs/*
benchmark/evaluations/*
benchmark/repository/*
benchmark/tmp/*
benchmark/final_results/*
.up_ete3
benchmark/instances/*
.DS_Store
benchmark/yaml/*
!.gitkeep
.snakemake
*.sif
slurm-*
*.pyc
.*.yaml
*.swp
benchmark/real_samples/*
